/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100% }

body, button, input, select, textarea { font-family: georgia; color: #666; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the ground color to match your design)
 */

::-moz-selection { background: #fddbc4; color: #000; text-shadow: none; }
::selection { background: #fddbc4; color: #000; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #f30; text-decoration: none;}
a:visited { color: #f30; }
a:hover { color: #800000; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; list-style:url(../img/li-arrow.png) }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { 
  border-collapse: collapse; 
	border-spacing: 0;
}
td { 
  text-align: left;
	vertical-align: top;
	padding-bottom: 10px;
	padding-right: 10px;
}


/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* ==|== primary styles =====================================================
   Author: vache-sqaured
   ========================================================================== *

/* shared layout style */
* { /* apply a natural box layout model to all elements */
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}
body {
  position: absolute;
  top: 0px;
  left: 0px;
	width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;	
  font-size: 1em;
  line-height: 1.4;
  background: url(../img/lb-bg.jpg) top left repeat;
}
.canvas {
	width: 964px;
	margin: 0px auto;
	padding: 0px 12px;
  background-color: white;
	min-height: 100%;
	/* ie7 sticky footer fix */
	height: 100%;
	display: table;
}
header {
	position: absolute;
	width: 940px;
	margin-top: 10px;
}
#content {
	position: absolute;
	margin: 126px 0px 204px 0px; /* header and footer heights */
	overflow: auto;
}
footer {
	position: relative;
	width: 940px;
	margin: -204px auto 0 auto; /* negative value of footer height */
	height: 204px;
	clear: both;
}
.container {
  position: relative;
}
.rounded-shadow {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
	box-shadow: 4px 4px 4px #666;
  -moz-box-shadow: 4px 4px 4px #666;
  -webkit-box-shadow: 4px 4px 4px #666;
}
.rounded-border {
	border: #ccc 1px solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
h1,h2 {
	font-size: 26px;
	color: #f30;
	margin: 0px;
  padding: 0px;
}
h3 {
  color: #666;
	font-size: 20px;
	text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
h4 {
  color: #666;
	font-size: 22px;
	text-align: left;
  margin: 0px;
  padding: 0px;
	font-variant:small-caps;
}
p {
 margin: 10px 0px 0px 0px;
}
/* canvas borders */
.left-vert-bar {
  position: fixed;
	margin-left: -24px; /* bg width + canvas padding */
	width: 12px;
	height: 100%;
  background: url(../img/lb-bg-left.jpg) top left repeat-y;
}
.right-vert-bar {
  position: fixed;
	margin-left: 952px; /* canvas width - bg width */
	width: 12px;
	height: 100%;
  background: url(../img/lb-bg-right.jpg) top left repeat-y;
}

/* /index/ */
#home-main-container {
	width: 940px;
	height: 414px;
}
.home-page-height {
	height: 954px;
}
.content-swap {
	height: 100%;
	padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
#home-content-left {
	z-index: 1;
  float: left;
	width: 476px;
}
#home-content-right {
	padding: 20px 10px;
  float: right;
	width: 400px;
}
#home-wedding {
  background: url(../img/home-wedding-bg.jpg) no-repeat;
}
#main-nav {
	margin-top: 10px;
	background: #E5E5E5;
}
.main-nav-item {
	float: left;
	border: 1px #f30; 
	margin: 20px 0px 20px 18.4px;
}
#arrow-scroll-1 {
	position: absolute;
	top: 433px;
	left: 18px;
}
#arrow-scroll-2 {
	position: absolute;
	top: 433px;
	left: 248px;
}
#arrow-scroll-3 {
	position: absolute;
	top: 433px;
	left: 478px;
}
#arrow-scroll-4 {
	position: absolute;
	top: 433px;
	left: 708px;
}

/* /diamonds/ */
#diamonds-main-container {
	width: 940px;
	padding: 20px 20px 10px 20px;
}
.diamond-page-height {
	height: 816px;
}
#diamonds-content-left {
	padding: 0px 20px 0px 10px;
  float: left;
	width: 400px;
}
#diamonds-content-right {
  float: right;
	width: 490px;
	padding: 30px 20px 0px 0px;
}

/* /diamonds/4-c/ */
#four-c-main-container {
	width: 940px;
	padding: 20px 20px 20px 30px;
	font-size: .88em;
}
.four-c-column {
   width: 25%;
	 float: left;
	 padding: 4px 10px;
}
.four-c-page-height {
	height: 976px;
}

/* /diamonds/shapes/ */
#shapes-main-container {
	width: 940px;
	height: 444px;
	padding: 20px;
}
.shapes-page-height {
	height: 790px;
}
#shapes-content-left {
	width: 46%;
	float: left;
	padding-left: 10px;
}
#shapes-content-right {
	width: 50%;
	float: right;
	text-align: center;
	padding: 6px 60px 0px 40px;
}
.shapes-small {
	float: left;
	width: 20%;
	padding-top: 10px;
	text-align: center;
	color: #4E4E4E;
}
.grey-box {
	background: #E5E5E5;
	padding: 16px 24px 22px 30px;
	font-size: .96em;
	text-align: left;
}

/* /diamonds/inventory/ */
#inventory-main-container {
	width: 940px;
	padding: 20px 0px 20px 30px;
}
.inventory-page-height {
	height: 1226px;
}
#iframeRapnet {
	padding: 0px 0px 20px 34px; 
	background-color:#e5e5e5;
}

/* /wedding/ */
#wedding-main-container {
	width: 940px;
	height: 100%;
  padding: 20px 0px 20px 30px;
}
.wedding-page-height {
	height: 786px;
}
#wedding-content-left {
  float: left; 
	width: 56%;
}
#wedding-content-right {
  float: right;
	margin: 10px 70px 0px 0px;
}

/* /custom/ */
#custom-main-container {
	width: 940px;
	height: 444px;
	padding: 20px 30px;
}
.custom-page-height {
	height: 790px;
}

/* /jewelry/ */
#jewelry-main-container {
	width: 940px;
	padding: 20px 0px 20px 30px;
}
.jewelry-page-height {
	height: 814px;
}
#jewelry-content-left {
	width: 50%;
	float: left;
}
#jewelry-content-right {
	width: 48%;
	float: right;
	text-align: center;
	padding: 10px 20px 0px 0px;
}
#jewelry-adjectives {
  color: #666;
	font-size: 16px;
	margin-top: 10px;
}
.jewelry-href {
  float: left;
  padding: 0px 2px;
	text-align: center;
}

/* /jewelry/*... collections height */
#jewelry-collections-main-container {
	width: 940px;
	height: 532px;
	padding: 20px 30px 20px 30px;
}
.jewelry-collections-page-height {
	height: 876px;
}

/* /designers/ */
#designers-main-container {
	width: 940px;
	padding: 20px 30px;
	font-size: .88em;
}
.designers-page-height {
	height: 846px;
}
.designers-column {
  width: 25%;
  float: left;
  padding: 0px 15px;
}
.designer-heading {
	font-size: 18px;
  text-align: center; 
	margin-top: 10px;
}

/* /designers/simon-g/ */
#designers-simon-g-main-container {
	width: 940px;
	height: 506px;
	padding: 20px 30px;
}
.designers-simon-g-page-height {
	height: 850px;
}

/* /designers/pamela-froman/ */
#designers-pamela-froman-main-container {
	width: 940px;
	height: 531px;
	padding: 20px 30px;
}
.designers-pamela-froman-page-height {
	height: 881px;
}

/* /designers/tycoon/ */
#designers-tycoon-main-container {
	width: 940px;
	height: 531px;
	padding: 20px 30px;
}
.designers-tycoon-page-height {
	height: 881px;
}

/* /designers/royal-asscher/ */
#designers-royal-asscher-main-container {
	width: 940px;
	height: 531px;
	padding: 20px 30px;
}
.designers-royal-asscher-page-height {
	height: 881px;
}

/* /our-story/ */
#our-story-main-container {
	width: 940px;
	height: 864px;
	padding: 20px 30px;
}
.our-story-page-height {
	height: 1210px;
}

/* /appointment/ */
#appointment-main-container {
	width: 940px;
}
.appointment-page-height {
	height: 850px;
}

/* /privacy/ */
#privacy-main-container {
	width: 940px;
	padding: 20px 30px;
}
.privacy-page-height {
	height: 2540px;
}

/* /sitemap/ */
#sitemap-main-container {
	width: 940px;
	padding: 20px 30px;
}
.sitemap-page-height {
	height: 918px;
}

/* header */
#header-left {
	float: left;
}
#header-right {
	float: right;
	text-align: right;
}
#contact {
  font-size: .88em;
	text-align: right;
}
#nav-bar {
	clear: both;
}
.nav-item {
  float: left;
  width: 16.667%;
  text-align: center;
}
#nav-custom {
	margin-left: 18px;
}
#nav-collections {
	margin-left: 36px;
}
#nav-designers {
	margin-left: 30px;
}
.nav-bar-line {
  position: absolute
	height: 3px;
	top: 100px;
	display: none;
}
#nav-bar-line-1, #nav-bar-line-2, #nav-bar-line-3, #nav-bar-line-4, #nav-bar-line-5, #nav-bar-line-6  {
  position: absolute;
	height: 3px;
	top: 100px;
}
#nav-bar-line-1 {
	width: 104px;
	left: 26px;
}
#nav-bar-line-2 {
	width: 132px;
	left: 168px;
}
#nav-bar-line-3 {
	width: 136px;
	left: 333px;
}
#nav-bar-line-4 {
	width: 130px;
	left: 502px;
}
#nav-bar-line-5 {
	width: 110px;
	left: 665px;
}
#nav-bar-line-6 {
	width: 108px;
	left: 806px;
}
.fb-like {
	margin-right:-4px; 
	vertical-align:bottom;
}

/* footer */
#footer-jc {
	float: left;
	width: 50%;
	text-align: center;
}
#footer-jc-left {
	float: left;
	width: 50%;
	text-align: left;
	padding-left: 10%;
}
#footer-jc-right {
	float: right;
	width: 50%;
	text-align: left;
	padding-left: 14%;
}
#footer-store-info {
  float: right;
	width: 50%;
	text-align: center;
	border-left: #ccc solid 1px;
	margin-left: -1px;
}
#footer-store-info-left {
	float: left;
	width: 50%;
	padding-left: 10px;
	text-align: center;
}
#footer-store-info-right {
	float: right;
	width: 50%;
	padding-left: 10px;
	text-align: center;
	font-size: 12px;
}
#bottom-nav {
	font-size: 11px;
	clear: both;
}
#bottom-nav-left {
  float: left;
	padding-top: 10px;
}
#bottom-nav-right {
  float: right;
	text-align: right;	
	padding-top: 10px;
}